.about{

  margin-top: 95px;
  margin-bottom: 95px;

  &__header{
    position: relative;
  }

  &__img{
    position: absolute;
    right: 30px;
    bottom: 0;
    display: none;
  }

  

  &__headingWrapper--grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  &__heading--gridItem{
    grid-column: 1 / 13;
  }

  &__heading{
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--secondary);
  }

  &__slogan{
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Rufina', serif;
  }

  &__sloganWrapper--grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  &__slogan--gridItem{
    grid-column: 1 / 13;
  }

  &__btn{
    background-color: var(--secondary);
    color: var(--primary);
    padding: 15px 25px 15px 25px;
    border-radius: 25px / 50%;
    text-transform: uppercase;

    &:hover{
      color: var(--accent);
    }
  }

  &__btnWrapper{
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }

}


@media screen and(min-width: 601px){

  .about{
    margin-top: 100px;
    margin-bottom: 100px;

    &__slogan{
      font-size: 40px;
    }
  }

}


@media screen and(min-width: 993px){
 
  
  .about{
    margin-top: 150px;
    margin-bottom: 150px;
  
    &__slogan{
      font-size: 50px;
    }

    &__img{
      display: inline-block;
    }
  
  }

}


@media screen and(min-width: 1200px){
 
 .about{
    margin-top: 200px;
    margin-bottom: 200px;
 } 
 
}



