.sectionServices{
   
    min-height: 360px;
   
    
    &__serviceIcon{
       display: block;
       text-align: center; 
       color: var(--primary);
    }

    &__serviceImage{
        width: 100%;
    }

    &__serviceDescription{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: var(--secondary);
        opacity: 0;
        transition: 0.30s opacity;
        display: flex;
        justify-content: center;
        align-items: center;
       
        &:hover{
            opacity: 1;
        }
    }

    &__serviceCard{
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        
    }

    &__heading{
        font-size: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }

    &__serviceHeading{
        font-size: 24px;
        font-family: 'Rufina', serif;
        text-align: center;
        color: var(--primary);
        margin-top: 15px;
       
    }
    
}

@media screen and(min-width: 601px){
    .sectionServices__heading{
       font-size: 40px;
    }
}

@media screen and(min-width: 993px){
    .sectionServices__heading{
        padding-left: 0%;
        padding-right: 0%;  
        font-size: 50px;
    }
}