.team__heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.team__subheading {
    color: gray;
}

.team__subtitle {
    margin-bottom: 20px;
}

.team__grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.team__social-media{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    
}

.team__header--grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.team__heading--grid-item{
    grid-column: 2 / 12;
}

.team__subtitle--grid-item{
    grid-column: 2 / 12;
}

.team__social-media-icon{
    padding: 8px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
  
    color: var(--accent);
    border: .6px solid var(--accent);

    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
        border: .6px solid transparent;
    }
}


.team__member {
    position: relative;
    &--grid-item {}
}

.team__img {
    width: 100%;
}


.team__member-data {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-60px);
}

.team__member-header {
    background-color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 5px;
    padding-right: 5px;

    position: relative;
    top: 30px;
    transition: top 0.3s;
    padding-top: 15px;
    padding-bottom: 0px;
    will-change: top;
}

.team__member-header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
}

.team__member-heading {
    font-size: 20px;
    margin: 0;
    color: var(--accent);
}

.team__details-content {
    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.2s;
    margin-top: -30px;
    padding-top: 30px;
    color: var(--accent);
}



.team__member-details {

    position: absolute;
    z-index: -1;
    background-color: white;
    opacity: 0;
    width: 100%;
    box-shadow: 0 0 10px transparent;

    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;

    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.team__member:hover {
    z-index: 1000;
}

.team__member:hover .team__member-details {
    opacity: 1;
    box-shadow: 0 0 30px #eeebeb;
}


.team__member:hover .team__member-reveal {
    color: var(--secondary);
}

.team__member:hover .team__member-reveal .team__icon-reveal {
    transform: rotateZ(180deg);
    color: var(--secondary);
}

.team__member:hover .team__member-header {
    opacity: 1;
    top: 0;
}

.team__member:hover .team__member-header:after {
    box-shadow: 0 0 30px #eeebeb;
}


.team{
    padding-bottom: 50px;


    &__member:hover &__details-content{
        opacity: 1;
    }
}



@media screen and(min-width: 601px) {

    .team__grid-container {

        grid-template-columns: repeat(2, 1fr);
    }

    .team__heading{
        font-size: 40px;
    }

}

@media screen and(min-width: 993px) {

    .team{
        padding-bottom: 110px;
    }

    .team__subtitle{
        margin-bottom: 100px;

        &--grid-item{
            grid-column: 2 / 12;
        }
    }

    .team__heading {
        font-size: 50px;
        margin-top: 144px;

        &--grid-item{
            grid-column: 2 / 12;
        }
    }
}

@media screen and(min-width: 1200px) {

    .team__subtitle{

        &--grid-item{
            grid-column: 3 / 11;
        }
    }

    .team__heading {
        

        
        &--grid-item{
            grid-column: 3/ 11;
        }
    }

    .team__grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}