.collapsible{
  margin: 0;
}

.collapsible-header{
  color: black;
  align-items: center;
}
.collection{
  width: 100%;
}
.collabsible-link{ 
  color: black;
  padding: 10px;
}

.collection-item{
  width: 100%;
  padding: 0 !important;
}

.collabsible-item{
  width: 100%;
  padding: 0;
}

.collapsible-body{ 
  padding: 0;
  width: 100%;
}