.main-header {
    padding-top: 95px;
    padding-left: 15px;


    &-heading{
        font-size: 30px;
    }
    &-sticky-top-bar {
        position: fixed;
	width: 100%;
        top: 0;
        right: 0;
        height: 80px;
        background: var(--accent);
        z-index: 100;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
	display: flex;
	justify-content: flex-end;
	align-items: center;
    }

    &-button-menu{
            margin-left: 28px;
   	    margin-right: auto;
    	    min-height: 40px;
   	    min-width: 40px;
	    border: none;
	    background-color: transparent;
	 
 	 &:focus{
	   background-color: transparent;
	 }	

	 &:hover{
	   background-color: #d2cccc96;
	 }
    }

    &-username-card {
	display: flex;
        justify-content: flex-end;
        position: relative;
        height: 100%;
        align-items: center;

        &-link {
            display: inline-flex;
            align-items: center;
            margin-right: 28px;
            
            cursor: pointer;

            &-username {
		position: absolute;
		top: 100vh;
            }

            &-userphoto {
                border-radius: 50%;
            }
        }
    }

    &-dropdown-menu-profile {
        position: absolute;
        top: calc(100% + 0.5rem);
        right: 28px;
        background: var(--accent);
        list-style: none;
        margin: 0;
        border-radius: 5px;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        transform: scale(0); 
        transition: 0.2s transform;
	z-index: 1000;

	
	
	&::before{
	  display: block;
	  content: '';
	  width: 100vw;
	  height: 100vh;
	  position: absolute;
	  top: 0;
	  left: 0;
	  transform: translateX(var(--header-dropdown-menu-profile-x)) translateY(var(--header-dropdown-menu-profile-y));
	}

        &-first-item-menu {
            margin-top: 0.5rem;
        }

        &-open{
            transform: scale(1);
        }

        &-link {
	    overflow: hidden;
            padding: .5rem 1.5rem;
            display: block;
            color: black;
	    text-decoration: none;
           
	    &:hover{
                
            }
        }
    }
}

@media screen and(min-width: 992px){
  .main-header{
      &-button-menu{
          display: none;
      }

	&-username-card-link{
	   border-left: 1px solid yellow;
		
		&-username{
			color: black;
			position: static;
			margin-bottom: 0;
                	margin-right: 10px;
                	padding-left: 29px;
		}
	}


  }
}


@keyframes showMenuProfile{
    from{
        width: 0;
        height: 0;
        opacity: 0;
    }to{
        display: block;
        width: auto;
        height: auto;
        opacity: 1;
    }
}